*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-out;
}

/* ------------------BACKGROUND--\/------------------ */

body{
    background: #232323;
    color: #d7f9ff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 95%, 49% 95%, 46% 100%, 0 100%, 0% 0%);
}

.logo{
    padding-left: 2rem;
}

.container{
    height: 100%;
}

.headerText{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    gap: 4rem;
    font-size: 30px;
}
.headerText span{
    color: #2bdefd; 
}
#download{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 9px;
    padding: 23px 30px;
    background: linear-gradient(to bottom,#2BFDBE,#2BFDBE );
    color: #010816;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 50%, 85% 100%);
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    width: 300px;
    transition: 0.5s;
}
#download:hover{
    background: linear-gradient(to bottom,#2BFDBE,#167457 );
}
#download img{
    width: 22px;
}
/* ------------------BACKGROUND--/\------------------ */
/* ------------------BACKGROUND--\/--MEDIA QUERY---------------- */
@media only screen and (max-width: 1800px){
    
    .headerText h1{
        width: 50%;
    }
    #download{
        padding: 18px 30px;
        width: 280px;
        font-size: 20px;
    }
    #download img{
        width: 20px;
    }
}
@media only screen and (max-width: 1600px){
    
    .headerText h1{
        font-size: 50px;
    }
   
}
@media only screen and (max-width: 1300px){
    #header{
        background-image: url(../images/background1.png);
    }
    .headerText {
        justify-content: space-between;
        padding: 3rem 0rem 8rem 3rem;
    }
    .headerText h1{
        width: 70%;
    }
    #download{
        width: 200px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 1000px){
    .headerText h1{
        font-size: 2.5rem;
    }
    #download img{
        width: 16px;
    }
}
@media only screen and (max-width: 840px){
   
    #download{
        padding: 14px 30px;
    }
}

@media only screen and (max-width: 760px){
    #header{
        background-image: url(../images/backgroundPhone1.png);
        clip-path: polygon(100% 0, 100% 98%, 49% 98%, 46% 100%, 0 100%, 0% 0%);
    }
    .headerText{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        width: 100%;
        padding: 1rem 2rem 7rem 3rem;
    }
    .headerText h1{
        width: 100%;
    }
}

@media only screen and (max-width: 569px){
    .logo{
        width: 200px;
    }
    .headerText {
            padding: 3rem 0rem 8rem 2rem;
    }
    .headerText h1{
        font-size: 100%;
    }
}
@media only screen and (max-width: 560px){

    .headerText {
            padding: 3rem 0rem 1rem 2rem;
    }
  
}
@media only screen and (max-width: 400px){

    .headerText {
            padding: 2rem 0rem 1rem 1rem;
    }
    #download{
        width: 160px;
    }
}
@media only screen and (max-width: 381px){

    .headerText h1{
        font-size: 25px;
    }
}

/* ------------------BACKGROUND--/\--MEDIA QUERY---------------- */




