*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-out;
}

/* ------------------BACKGROUND--\/------------------ */

body{
    background: #232323;
    color: #d7f9ff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 95%, 49% 95%, 46% 100%, 0 100%, 0% 0%);
}

.logo{
    padding-left: 2rem;
}

.container{
    height: 100%;
}

.headerText{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    gap: 4rem;
    font-size: 25px;
}
.headerText span{
    color: #2bdefd; 
}
#download{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    background: linear-gradient(to bottom,#2BFDBE,#2BFDBE );
    color: #010816;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);
    text-decoration: none;
    font-weight: 900;
    font-size: 90%;
    width: 15%;
    height: auto;
    transition: 0.5s;
}
#download:hover{
    background: linear-gradient(to bottom,#2BFDBE,#167457 );
}
#download img{
    width: 9%;
}
/* ------------------BACKGROUND--/\------------------ */
/* ------------------BACKGROUND--\/--MEDIA QUERY---------------- */
@media only screen and (max-width: 1800px){
    .headerText h1{
        width: 50%;
    }
}
@media only screen and (max-width: 1300px){
    #header{
        background-image: url(./images/background1.png);
    }
    #download{
        width: 20% !important;
    }
}
@media only screen and (max-width: 1000px){
    .headerText h1{
        font-size: 2.5rem;
    }
    #download{
        width: 22% !important;
    }
}
@media only screen and (max-width: 930px){
    #download{
        font-size: 70% !important;
    }
}
@media only screen and (max-width: 760px){
    #header{
        background-image: url(./images/backgroundPhone1.png);
        clip-path: polygon(100% 0, 100% 98%, 49% 98%, 46% 100%, 0 100%, 0% 0%);
    }
    .headerText{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        width: 100%;
    }
    .headerText h1{
        width: 100%;
    }
    #download{
        font-size: 60% !important;
    }
    #download img{
        width: 13%;
    }
}
@media only screen and (max-width: 670px){
    #download{
        font-size: 45% !important;
    }
}
@media only screen and (max-width: 570px){
    #download{
        padding: 1rem 2.5rem !important; 
        width: 30% !important;
    }
    #download img{
        width: 23%;
    }
}
@media only screen and (max-width: 510px){
    #download img{
        width: 38%;
    }
    .headerText{
        padding: 1rem;
    }

}
@media only screen and (max-width: 450px){
    .logo{
        width: 40%;
    }
    .headerText h1{
        font-size: 100%;
    }
    #download{
        padding: 0.8rem 3rem !important; 
        width: 40% !important;
    }
    #download img{
        width: 35%;
    }

}
@media only screen and (max-width: 435px){
    #download img{
        width: 55%;
    }
}
@media only screen and (max-width: 405px){
    #download img{
        width: 55%;
    }
}
@media only screen and (max-width: 395px){
    #download img{
        width: 65%;
    }
}
@media only screen and (max-width: 388px){
    #download img{
        width: 85%;
    }

}
@media only screen and (max-width: 375px){
    #download img{
        display: none;
    }

}

/* ------------------BACKGROUND--/\--MEDIA QUERY---------------- */
/* ------------------ABOUT--\/------------------ */
#about{
    padding: 5% 0;
    color: #ababab;
    /* border: 4px solid red; */
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: center;
}
.containerAbout{
    /* border: 4px solid green; */
    width: 100%;
}

.row{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 5%;
}
/* --------------COLUNA--1--\/------------------ */
.about-col-1{
    width: 70%;
    /* border: 4px solid blue; */

} 

.about-col-1 img{
    padding-top: 4rem;
    position: relative;
    width: 100%;
    animation: myMovieAbout 3s infinite ease;
}
@keyframes myMovieAbout {
    0%   {bottom: -10px;
        filter: drop-shadow(-1px 1px 30px #2bddfd5b);
    }
    50%  {bottom: 20px;
        filter: drop-shadow(-1px 1px 10px #2bfd945b);
    }
    100%   {bottom: -10px;
        filter: drop-shadow(-1px 1px 30px #2bddfd5b);
    }
  }
/* --------------COLUNA--1--/\------------------ */
/* --------------COLUNA--2--\/------------------ */
.about-col-2{
    /* border: 4px solid rebeccapurple; */
    width: 100%;
    height: 100%;
    
}
.sub-title{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #d7f9ff;
}
.about-col-2 p{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.3rem;
    padding: 2rem 2rem 2rem 0 ;
    text-align: justify;
}
.tab-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-image: url(./images/backgroundDiv.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem;
    width: 900px;
    height: 620px;
}
.tab-titles{
    display: flex;
}
.tab-titles p{
    padding: 2rem;
}

.tab-links{
    color: #2bdefd;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 0.1rem;
    transition: .3s;
   
}  
.tab-links:hover{
    color:#2bddfd5b;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2bdefd;
    position: absolute;
    left: 2.1rem;
    bottom: 1rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents{
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding: 5px;
    display: none;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    width: 800px;
}

.tab-contents ul li span{
    color: #1e9db4;
    font-size: 18px;
}

.active-tab.active-tab{
    display: block;
}
/* ------------------MIDIA QUERY--\/--ABOUT---------------- */
@media only screen and (max-width: 1440px){
    .tab-container{
        width: 720px;
        height: 500px;
    }
    .tab-contents ul li {
        list-style: none;
        margin: 10px 0;
        width: 600px;
    }
}
@media only screen and (max-width: 1300px){
    .about-col-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .sub-title{
        font-size: 60px;
    }
    .tab-container{
        width: 640px;
        height: 440px;
    }
    .tab-container ul li{
        font-size: 18px;
        width: 600px;
    }
}
@media only screen and (max-width: 1180px){
    .about-col-1{
        width: 100%;
    }
    #about{
        height: 1700px;
        padding: 1rem 2rem;
    }
    .containerAbout{
        padding: 0;
        height: 100%;
    }
    .row{
        flex-direction: column;
        padding-top: 5rem;
    }
    .about-col-1{
        width: 40%;
    }
    .about-col-2{
        width: 100%;
        align-items: center;
    }
    .sub-title{
        font-size: 60px;
    }
    .tab-container{
        width: 780px;
        height: 530px;
    }
    .tab-container ul li{
        font-size: 21px;
        width: 650px;
    }
}

@media only screen and (max-width: 800px){
    .tab-container{
        width: 700px;
        height: 500px;
    }
    .tab-container ul li{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 714px ){
    .about-col-1{
        width: 80%;
    }
    .tab-container{
        width: 670px;
        height: 470px;
    }
    .tab-container ul li{
        font-size: 1.3rem;
        padding: 0rem 2rem;
    }
}
@media only screen and (max-width: 660px ){
    .tab-container{
        width: 610px;
        height: 420px;
    }
    .tab-contents ul li span{
        font-size: 0.9rem;
    }
    .tab-container ul li{
        font-size: 1.1rem;
        padding: 0rem 3rem;
    }
}
@media only screen and (max-width: 610px ){
   
    .tab-container{
        background-image: url(./images/backgroundDivPhone1.png);
        width: 500px;
        height: 500px;
    }
    .tab-links{
        font-size: 1.3rem !important;
    }
    .tab-container ul li{
        font-size: 1.1rem;
        padding: 0rem 6.5rem;
        text-align: justify;
    }
}
@media only screen and (max-width: 500px ){
    .tab-container{
        background-image: url(./images/backgroundDivPhone2.png);
        width: 100%;
        height: 560px;
    }
    .about-col-2{
        gap: 1rem;
    }
    .tab-links{
        font-size: 1rem !important;
    }
    #description{
        padding: 0;
    }
   
    .tab-container ul li{
        font-size: 1.1rem;
        padding: 0rem 8.5rem;
        text-align: justify;
    }
}

@media only screen and (max-width: 490px){
    .tab-container{
        width: 480px;
        height: 620px;
    }
}
@media only screen and (max-width: 475px){
    .tab-container{
        width: 450px;
        height: 570px;
    }
    #about{
        height: 1750px;
    }
}
@media only screen and (max-width: 445px){
    .tab-container{
        width: 400px;
        height: 510px;
    }
    .tab-container ul li{
        font-size: 1.1rem;
        padding: 0rem 9.8rem;
    } 
    .tab-links{
        font-size: 0.9rem !important;
    }
}
@media only screen and (max-width: 420px){
    #description{
        padding: 0;
        text-align: center;
    }
    .tab-links{
        font-size: 0.8rem !important;
        padding: 19px !important;
    }
    .tab-links::after{
        height: 3px;
        left: 1.2rem;
        bottom: 0.5rem;
    }
  
}
@media only screen and (max-width: 400px){
    .about-col-1{
        width: 100%;
    }
    .tab-container{
        width: 370px ;
        height: 480px;
    }
    .sub-title{
        font-size: 3rem;
    }
    .tab-links{
        font-size: 0.8rem !important;
    }
    #description{
        padding: 0;
        text-align: center;
    }
    .tab-contents ul li span{
        font-size: 0.7rem;
    }
    .tab-container ul li{
        font-size: 1.0rem;
        padding: 0rem 9.9rem;
    } 
}
@media only screen and (max-width: 370px){
    .about-col-1{
        width: 100%;
    }
    .tab-container{
        width: 350px ;
        height: 460px;
    }
    .sub-title{
        font-size: 3rem;
    }
    .tab-links{
        font-size: 0.8rem !important;
        padding: 15px !important;
    }
    .tab-links::after{
        height: 3px;
        left: 1rem;
        bottom: -0.1rem;
    }
    .tab-contents ul li span{
        font-size: 0.7rem;
    }
    .tab-container ul li{
        font-size: 1.0rem;
        padding: 0rem 10.9rem;
    } 
}

/* ------------------MIDIA QUERY--/\--ABOUT---------------- */
/* ------------------COLUNA--2--/\------------------ */
/* ------------------ABOUT--/\------------------ */
/*-------------------PROJETOS--\/--------------- */

#projects{
    /* border: 1px solid rgb(0, 255, 47); */
    width: 100%;
    height: 900px;
    background: #01080e;
    clip-path: polygon(0 100%, 0 0, 49% 0, 51% 5%, 100% 5%, 100% 95%, 51% 95%, 49% 100%);
}
.projectsList{
    width: 100%;
    height: 100%;
    padding: 9rem;
    display: grid;
    grid-template-areas: 'a a a';
    gap: 3rem;
    /* border: 1px solid rgb(229, 255, 0); */
}
.projectsList div{
    width: 100%;
    height: 80%;
}

/*------------------PROJETOS--/\------------------ */
/* ----------------------CARD PROJETOS--\/-------------------- */

.projectsTitle{
    padding: 2rem 0rem 0rem 20rem ;
}
.divBorder{
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #012640;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 100%, 0% 100%);
}
.divBorder:hover{
    background: #2bdefd;
}
#titlePurple{
    color: #7b71ff;
    font-size: 2rem;
}
#titleRed{
    color: #f16165;
    font-size: 2rem;
}
#titlePink{
    color: #dc6ebe;
    font-size: 2rem;
}
.divBorder div{
    gap: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #021017;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 100%, 0% 100%);
}
.divBorder div img{
    position: relative;
    height: 100%;
    width: 40%;
    height: auto;
    animation: mymove 3s infinite ease;
    filter: drop-shadow(-1px 1px 30px #2bddfd5b);
}

@keyframes mymove {
    0%   {bottom: -10px;}
    50%  {bottom: 20px;}
    100%   {bottom: -10px;}
  }

  @media screen and (max-width: 1330px){
    #projects{
    padding: 0;
    }
    .projectsList{
        gap: 3rem;
    }
    .projectsTitle{
        padding: 1rem 2rem;
    }
  }
  @media screen and (max-width: 980px){
    #projects{
        height: 200vh;
        clip-path: polygon(0 100%, 0 0, 49% 0, 51% 2%, 100% 2%, 100% 98%, 51% 98%, 49% 100%);
    }
    .projectsList{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projectsList div{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divBorder div{
        width: 100%;
        height: 100%;
    }
  }
  @media screen and (max-width: 700px){
    .projectsList div{
        width: 100%;
    }
   
  }
  @media screen and (max-width: 660px){
    .projectsTitle{
        font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 520px){
    
    .projectsTitle{
        font-size: 1.2rem;
    }
    #projects{
        width: 100%;
        height: 1200px;
        padding-bottom: 5rem;
    }
    .projectsList{
        padding: 3rem;
    }
    .projectsList div{
        height: 100%;
    }
    
    
  }
  @media screen and (max-width: 420px){
    
    .projectsTitle{
        font-size: 1rem;
    }
    #projects{
        width: 100%;
        height: 900px;
    }
    .projectsList{
        padding: 3rem;
    }
    .projectsList div{
        height: 100%;
    }
  }
  @media screen and (max-width: 360px){
    
    .projectsTitle{
        font-size: 0.7rem;
    }
  }
/* ----------------------CARD PROJETOS--/\-------------------- */
/*-------------------CONTATO--\/--------------- */
.containerContact{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 12rem 6rem 12rem 6rem;
    gap: 2rem;
    align-items: center;

}
.inconContact{
width: 2rem;
margin: 1rem;
}
.contactLeft{
    flex-basis: 35%;
}
.contactLeft h1{
    font-size: 4rem;
    padding-bottom: 3rem;
}
.contactLeft p{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.iconSocialMedia{
    margin: 0.1rem;
}
.contactRight{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;

}
.contactRight form{
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
form input{
    font-size: 1.5rem;
    width: 70%;
    height: 8vh;
    padding: 1rem;
    background-color: #444444;
    border: 0px;
    border-radius: 5px;
    color: #fff;
}
form textarea{
    font-size: 1.5rem;
    width: 70%;
    height: 10vh;
    padding: 1rem;
    background-color: #444444;
    border: 0px;
    border-radius: 5px;
    color: #fff;
}

form button{
    width: 20%;
    padding: 15px 10px;
    background: linear-gradient(to bottom,#2BFDBE,#2BFDBE );
    color: #010816;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    transition: 0.5s;
    border: 0;
    cursor: pointer;
}
form button:hover{
background: linear-gradient(to bottom,#2BFDBE,#167457 );
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #363636;
    font-weight: 300;
    margin-top: 20px;
}
@media screen and (max-width: 1100px){
    .contactLeft h1{
        font-size: 33px;
        text-align: center;
    }
    .containerContact{
        display: flex;
        flex-direction: column;
        height: 1100px;
        gap: 3rem;
    }
    .contactRight{
        width: 100%;
    }
  }
@media screen and (max-width: 779px){
    .containerContact{
        padding: 4rem 0 0 0;
    }
    
   .contactLeft h1{
    font-size: 45px;
   }
  }
@media screen and (max-width: 630px){
    .containerContact{
        padding: 4rem 0 0 0;
    }
    
   form input {
    width: 90%;
   }
   form textarea{
    width: 90%;
   }
   form button {
    width: 300px
   };
  }
@media screen and (max-width: 414px){
    .contactLeft h1{
        font-size: 33px;
    }
    .contactLeft p{
        font-size: 23px;
    
    }
  }

/*-------------------CONTATO--/\--------------- */
/* ------------------MEDIA QUERY--\/------------------ */

